
@font-face {
	font-family: 'Bebas';
	src: url('../fonts/Bebas.eot');
	src: url('../fonts/Bebas.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Bebas.woff2') format('woff2'),
		url('../fonts/Bebas.woff') format('woff'),
		url('../fonts/Bebas.ttf') format('truetype'),
		url('../fonts/Bebas.svg#Bebas') format('svg');
	font-weight: normal;
	font-style: normal;
}
.resault.bebas{
	font-family: 'Bebas';
}
@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato-Black.eot');
	src: url('../fonts/Lato-Black.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Lato-Black.woff2') format('woff2'),
		url('../fonts/Lato-Black.woff') format('woff'),
		url('../fonts/Lato-Black.ttf') format('truetype'),
		url('../fonts/Lato-Black.svg#Lato-Black') format('svg');
	font-weight: 900;
	font-style: normal;
}
.resault.Lato{
	font-family: 'Lato';
}
@font-face {
	font-family: 'Lobster';
	src: url('../fonts/Lobster.eot');
	src: url('../fonts/Lobster.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Lobster.woff2') format('woff2'),
		url('../fonts/Lobster.woff') format('woff'),
		url('../fonts/Lobster.ttf') format('truetype'),
		url('../fonts/Lobster.svg#Lobster') format('svg');
	font-weight: normal;
	font-style: normal;
}
.resault.lobster{
	font-family: 'Lobster';
}
@import url('https://fonts.googleapis.com/css?family=Open+Sans:700&subset=cyrillic');
.resault.sans{
	font-family: 'Open Sans';
}
.text-box{
	padding-top: 2rem;
}
.result {
	margin-bottom: 0;
	margin-top: 3rem;
}
.fonts {
	font-size: 2rem;
	text-align: center;
	padding: 2rem;
}
small {
	font-size: 1.3rem;
}
