/* fonts family */
@font-face {
  font-family: 'ProximaNova_bold';
  src: url('../fonts/ProximaNova-Bold.eot');
  src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Bold.woff2') format('woff2'), url('../fonts/ProximaNova-Bold.woff') format('woff'), url('../fonts/ProximaNova-Bold.ttf') format('truetype'), url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova_Reg';
  src: url('../fonts/ProximaNova-Regular.eot');
  src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Regular.woff2') format('woff2'), url('../fonts/ProximaNova-Regular.woff') format('woff'), url('../fonts/ProximaNova-Regular.ttf') format('truetype'), url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Colors  */
/* Basic setting */
html {
  font-size: 10px;
}
a:hover {
  text-decoration: none;
}
button:focus,
input:focus,
a:focus,
textarea:focus {
  outline: none;
}
.button {
  font-size: 1.2rem;
  padding: 1rem 3rem;
  border-radius: 8px ;
  /*закругление кнопкт на радиус  */
  background: #f79f02;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.button:hover {
  cursor: pointer;
  background-color: #de8f02;
}
.form-input {
  width: 100%;
  display: block;
  margin: 2rem 0;
  border: 1px solid #dddddd;
  border-radius: 5px;
  padding: 1.5rem;
}
.form label {
  position: absolute;
  left: 50%;
  display: inline-block;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  padding: 0.5rem;
  font-size: 1.3rem;
  background: #ffffff;
  font-family: 'ProximaNova_Reg', sans-serif;
}
.form-btn {
  display: block;
  height: 5rem;
  width: 100%;
  font-size: 1.6rem;
}
/* typography */
section {
  padding: 10rem 0;
}
/*  MAIN*/
.main {
  background: #ffffff url(../img/main-bg.jpg) center center no-repeat;
  background-size: cover;
  padding: 3rem 0 5rem;
}
.main-content {
  margin-top: 8rem;
}
.main-content h1 {
  margin-top: 0;
  margin-bottom: 3rem;
  font-size: 4rem;
  line-height: 1.45;
  text-transform: uppercase;
  font-family: 'ProximaNova_bold', sans-serif;
}
.main-subtitle {
  margin-bottom: 4rem;
  font-size: 2.4rem;
  font-family: 'ProximaNova_Reg', sans-serif;
}
.main span {
  display: inline-block;
  padding: 3rem 5rem;
  font-size: 1.8rem;
  color: #ffffff;
  text-align: center;
  background-color: #55a411;
}
.main span strong {
  font-size: 3rem;
  font-family: 'ProximaNova_bold', sans-serif;
}
.main-trigger {
  display: block;
  font-size: 2.2rem;
  margin-top: 3rem;
  text-transform: uppercase;
  font-family: 'ProximaNova_bold', sans-serif;
}
.main-form {
  padding: 4rem 5rem;
  background-color: #ffffff;
  text-align: center;
}
.main-form-header {
  margin-bottom: 4rem;
  font-size: 1.8rem;
}
.main-form-header strong {
  font-size: 1.6rem;
}
.main-form small {
  display: block;
  margin-top: 1.5rem;
}
.header {
  height: 7rem;
}
.wrap {
  display: table;
  width: 100%;
  height: 7rem;
}
.wrap-block {
  display: table-cell;
  vertical-align: middle;
  text-align: right;
}
.phone-block {
  text-align: right;
}
.phone-link {
  display: inline-block;
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 2rem;
  height: 7rem;
  line-height: 7rem;
  color: #2e161d;
}
/* оформление секции с приемуществом */
.features-block {
  text-align: center;
}
.features-block h3 {
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 2rem;
  margin-bottom: 3rem;
}
.features-block p {
  font-size: 1.4rem;
  display: inline-block;
  width: 80%;
}
.features-img {
  height: 8rem;
  margin-bottom: 3rem;
}
.features-img img {
  display: block;
  margin: 0 auto;
}
.slick-active {
  outline: none;
}
.prev {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 99;
  width: 2rem;
  height: 2rem;
  border: none;
  background: url(../img/left-arrow.svg) center no-repeat;
  background-size: 70%;
}
.next {
  right: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 99;
  width: 2rem;
  height: 2rem;
  border: none;
  background: url(../img/righ-arrow.svg) center no-repeat;
  background-size: 70%;
}
section {
  padding: 10rem;
}
.section-header {
  margin: 2rem 0 10rem;
  text-align: center;
}
.section-header_light {
  color: #ffffff;
}
.section-header h2 {
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 3.5rem;
}
.section-header p {
  font-size: 1.4rem;
}
.price {
  background: url(../img/prices/prices-bg.jpg) center;
}
.price-button {
  text-align: right;
}
.price-header-btn {
  margin-top: 3rem;
}
.price-block {
  min-height: 50rem;
  padding: 1rem 3rem;
  background-color: #ffffff;
  -webkit-box-shadow: 7px 12px 21px 0px rgba(0, 0, 0, 0.17);
          box-shadow: 7px 12px 21px 0px rgba(0, 0, 0, 0.17);
  text-align: center;
}
.price-block h4 {
  margin: 3rem 0;
  font-size: 1.9rem;
  font-family: 'ProximaNova_bold', sans-serif;
}
.price img {
  width: 100%;
  max-width: 30rem;
  display: inline-block;
  margin-bottom: 2rem;
}
.price-tag {
  display: block;
  font-size: 1.9rem;
  font-family: 'ProximaNova_bold', sans-serif;
  margin-bottom: 2rem;
}
.price-list {
  font-size: 1.6rem;
  min-height: 14rem;
  padding: 0rem;
  list-style: none;
}
.price-list li:before {
  content: '';
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background: url(../img/prices/checked.svg) no-repeat center;
  background-size: 100%;
  vertical-align: middle;
  margin-right: 1rem;
}
/* секция с отзывами */
.feedback {
  position: relative;
  background: url(../img/feedback/bg-fon.jpg) no-repeat center;
  background-size: cover;
  /* форма обратно связи */
}
.feedback-prev-btn {
  left: -4rem;
}
.feedback-next-btn {
  right: -4rem;
}
.feedback-text {
  margin-top: 2rem;
  padding: 1rem;
  border: 2px solid #55a411;
  font-style: italic;
  position: relative;
}
.feedback-text::before {
  content: '';
  display: block;
  position: absolute;
  top: -2rem;
  left: 4rem;
  width: 2rem;
  height: 2rem;
  background-color: #ffffff;
  border: 2px solid #55a411;
  border-bottom: none;
  border-top-right-radius: 100px;
}
.feedback-slider {
  padding: 5rem 6rem;
  background-color: #ffffff;
  -webkit-box-shadow: 6px 10px 18px 0px rgba(0, 0, 0, 0.11);
          box-shadow: 6px 10px 18px 0px rgba(0, 0, 0, 0.11);
}
.feedback-slider .media {
  margin-top: 3rem;
  font-size: 1.4rem;
}
.feedback-slider .media h4 {
  font-family: 'ProximaNova_bold', sans-serif;
}
.feedback-slider p {
  font-size: 1.6rem;
}
.feedback-slider-btn {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 4rem;
  height: 5rem;
  background-color: #55a411;
  border: none;
}
.feedback-slider-btn img {
  width: 50%;
}
.feedback-form {
  margin-top: 5rem;
  padding: 4rem 10rem;
  background-color: #ffffff;
  text-align: center;
}
.feedback-form h3 {
  margin-bottom: 1rem;
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 2rem;
}
.feedback-form label {
  -webkit-transform: translate(-50%, 7px);
          transform: translate(-50%, 7px);
}
.feedback-btn {
  max-width: 30rem;
  margin: auto;
}
.hand {
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 30rem;
}
/* схема работы */
.scheme {
  background: url(../img/scheme/bg-hand.jpg) bottom -10rem right -10rem no-repeat;
  margin-bottom: 0;
  background-size: 60rem;
}
.scheme-block {
  min-height: 30rem;
}
.scheme-block h3 {
  font-size: 2rem;
  font-family: 'ProximaNova_bold', sans-serif;
}
/* /все включено/ */
.all-inclusive {
  background: #f5f5f5;
}
.all-inclusive .media {
  min-height: 9rem;
}
.all-inclusive .media h4 {
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 1.6rem;
}
.all-inclusive .media p {
  font-size: 1.1rem;
}
.circle {
  display: inline-block;
  background-color: #55a411;
  height: 100%;
  width: 100%;
  border-radius: 50%;
}
.circle-border {
  display: inline-block;
  width: 5rem;
  height: 5rem;
  padding: 0.3rem;
  border: 2px solid #55a411;
  border-radius: 50%;
  text-align: center;
  line-height: 4rem;
  color: #ffffff;
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 1.9rem;
}
.section-header_active {
  text-align: center;
  margin-bottom: 5rem;
}
.section-header_active h2 {
  color: #55a411;
  font-family: 'ProximaNova_bold', sans-serif;
}
/* мы развеем все опасения */
.problems {
  position: relative;
}
.problems-women {
  position: absolute;
  width: 30rem;
  bottom: 0;
  left: 50%;
  margin-left: -19rem;
}
.problems-list {
  border: 4px solid #55a411;
  margin-bottom: 2rem;
  padding: 2rem;
  min-height: 35rem;
}
.problems-list h4 {
  font-size: 2.1rem;
  color: grey;
  font-family: 'ProximaNova_bold', sans-serif;
}
.problems-list ul {
  list-style: none;
  padding-left: 0;
  padding-top: 2rem;
}
.problems-list ul li {
  padding-left: 3.5rem;
  position: relative;
  margin-bottom: 3rem;
}
.problems-list ul li:before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translatey(-50%);
          transform: translatey(-50%);
  width: 3rem;
  height: 4rem;
}
.problems-list_bad {
  border-color: #e8e8e8;
}
.problems-list_bad h4 {
  opacity: 0.5;
}
.problems-list_bad ul li:before {
  background: url(../img/problem.svg) no-repeat center;
  background-size: 70%;
}
.problems-list_good ul li:before {
  background: url(../img/good.svg) no-repeat center;
  background-size: 70%;
}
/* оформление модальных окон */
.popup {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.popup-content {
  position: fixed;
  left: 50%;
  top: 10%;
  background-color: #ffffff;
  -webkit-transform: translatex(-50%);
          transform: translatex(-50%);
  padding: 4rem 6rem;
}
.popup-form {
  margin-top: 3rem;
  padding: 0;
}
.popup-close {
  position: absolute;
  top: -1.5rem;
  right: -2rem;
  width: 2rem;
  text-align: center;
  border: none;
  background-color: transparent;
  font-size: 3rem;
  color: #ffffff;
}
.popup-content {
  text-align: center;
  font-family: 'ProximaNova_bold', sans-serif;
}
@media (max-width: 1199px) {
  .feedback-form {
    padding: 3rem 5rem;
  }
  .feedback .fotorama {
    margin-bottom: 3rem;
  }
  .all-inclusive .media {
    min-height: 11rem;
  }
  .problems-list {
    min-height: 40rem;
  }
}
@media (max-width: 991px) {
  .main {
    background-position: top right;
  }
  .phone-block {
    text-align: center;
  }
  .main-content {
    margin-top: 3rem;
  }
  .main-title {
    padding-bottom: 3rem;
    text-align: center;
  }
  .price-button {
    text-align: center;
    padding: 2rem 0;
  }
  .price-header-btn {
    margin-top: 0;
    margin-bottom: 2rem;
  }
  .price-block {
    margin-top: 2rem;
  }
  .section-header_light {
    margin-bottom: 0;
  }
  .feedback-form label {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .hand {
    display: none;
  }
  .problems-list {
    min-height: auto;
  }
  .problems-women {
    display: none;
  }
}
@media (max-width: 767px) {
  .main {
    background-position: top left;
  }
  .header {
    text-align: center;
  }
  .wrap-block {
    text-align: center;
  }
  .feedback-prev-btn {
    left: 0rem;
  }
  .feedback-next-btn {
    right: 0rem;
  }
  .scheme {
    background: none;
    text-align: center;
  }
  .scheme-block {
    min-height: 20rem;
  }
}
@media (max-width: 320px){
     .all-inclusive{
      padding: 0;
     }
     .feedback-slider{
      padding: 0;
     }
     .feedback-prev-btn {
    left: -4rem;
}
     .feedback-next-btn {
    right: -4rem;
}
}