
.fotorama{
margin-left: 25%;
margin-right: 25%;
margin-top: 50px;
}
.block{
	position: fixed;
	background: url(https://github.com/YakovRabota/YakovRabota.github.io/blob/master/Lesson16slider/src/img/%D0%9C%D0%BE%D1%81%D0%BA%D0%B2%D0%B0.jpg);
	height: 100%;
	width: 100%;
	margin-top: 0px;
}
.all{
	position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

}
