
.fotorama{
margin-left: 25%;
margin-right: 25%;
margin-top: 50px;
}
.block{
	position: fixed;
	background-image: url(/Lesson16slider/src/img/песочница-чёрный-плащ-арт-art-313955.jpeg);
	height: 100%;
	width: 100%;
	margin-top: 0px;
}
.all{
	position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

}
