
.fotorama{
margin-left: 25%;
margin-right: 25%;
margin-top: 50px;
}
.block{
	position: fixed;
	background-image: url(/../img/Москва.jpg);
	height: 100%;
	width: 100%;
	margin-top: 0px;
}
.all{
	position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

}
