
.fotorama{
margin-left: 25%;
margin-right: 25%;
margin-top: 50px;
}
.block{
	position: fixed;
	background: url(https://hostingkartinok.com/show-image.php?id=43586b66d44c0b1236aef35cb9c06cf6);
	height: 100%;
	width: 100%;
	margin-top: 0px;
}
.all{
	position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

}
