.main{
	margin: auto;
    margin-top: 20px;
    padding: 40px 30px;
    height: 300px;
    width: 450px;
    background: #000000;
}
.form input{
	background: #1c1b1b;
	border: none;
	margin-top: 20px;
}
.form-btn{
	margin-left: 98%;
}
.box:hover{
	color: red;
    text-decoration: none;
}
.nav-tabs>li.active>a,.nav-tabs>li.active>a:focus,.nav-tabs>li.active>a:hover{
	border: 5px solid red;
}